{% load i18n %}



{{#if participants}}
<h4>{% trans 'Participants' %}</h4>
<div class="participants">

    <table class="tablebg">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Brouwer" %}</th>
                <th>{% trans "Model" %}</th>
                <th>{% trans "Finished?" %}</th>
                <th>{% trans "Topic" %}</th>
            </tr>
        </thead>

        <tbody>
            {{#each participants}}
                <tr class="{{#if_even @index}}row2{{else}}row1{{/if_even}}" data-id="{{id}}">
                    <td class="num">{{add @index 1}}</td>
                    <td class="brouwer">{{username}}</td>
                    <td class="model-name">{{model_name}}</td>
                    <td class="completed {{#if finished}}finished{{/if}}">{{yesno finished}}</td>
                    <td class="topic">{{#if topic}}<a href="{{topic.url}}">{{topic.title}}</a>{{/if}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
