{% load i18n handlebars %}
{% hbs_verbatim %}

<script>
    var dialogTranslations = {
        title: '{% trans "Add your project" %}',
        btnCancel: '{% trans "No, thanks" %}',
        btnSubmit: '{% trans "Sure, sign me up" %}',
    };
</script>

<h2>{{build.theme}}</h2>
<p>{% trans "You've just created a new topic in this groupbuild. Would you like to add it to the groupbuild's participants list?" %}</p>
<br />
<form id="add-participant" method="post">
    {{#if participant}}
    <input type="hidden" name="id" value="{{participant.id}}" />
    {{/if}}
    <input type="hidden" name="groupbuild" value="{{build.id}}" />
    <input type="hidden" name="topic_id" value="{{topic.topic_id}}" />
    <p>
        <label>
            {% filter capfirst %}{% trans "model name" %}{% endfilter %}
            <input type="text" name="model_name" value="{{#if participant}}{{participant.model_name}}{{else}}{{topic.topic_title}}{{/if}}" />
        </label>
        {{#if errors.model_name}}
        <ul class="errors">
            {{#each errors.model_name}}
                <li class="error">{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </p>
</form>

{% hbs_endverbatim %}
