import React, { {{{ type }}} }  from 'react';
import PropTypes from 'prop-types';
import styled from 'styled-components';

/**
*
* {{ properCase name }}
*
*/
class {{ properCase name }} extends {{{ type }}} {
        constructor(props) {
        super(props);

        this.state = {};
    }
    render() {
        return (
          <div>
            {{ properCase name }}
          </div>
        );
    }
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
