{% load handlebars %}
{% verbatim %}
<div class="dropdown">
    <select id="id_album">
        {{#each albums}}
            <option value="{{this.id}}" {{#if this.current}}selected="selected"{{/if}}>{{this.title}}</option>
        {{/each}}
    </select>
</div>

<ul class="photos">
    {{#each photos}}
    <li class="photo" data-id="{{id}}">
        <a href="#" class="photo popup">
            <img src="{{thumb_url}}" class="thumb" alt="thumb"/>
        </a>
        <div class="full-image">
            <img src="{{image}}" width="{{width}}" height="{{height}}" />
        </div>
    </li>
    {{/each}}
</ul>
{% endverbatim %}