{% load handlebars %}
{% verbatim %}
<div class="dropdown">
    <select id="id_album">
        {{#each albums}}
            <option value="{{this.id}}" {{#if this.current}}selected="selected"{{/if}}>{{this.title}}</option>
        {{/each}}
    </select>
</div>

<ul class="photos">
    {{#each photos}}
    <li class="photo">
        <img src="{{this.image}}" width="{{this.width}}" height="{{this.height}}"/>
    </li>
    {{/each}}
</ul>
{% endverbatim %}